[run]
source = myokit
omit =
    myokit/gui/*
    myokit/tests/*
    myokit/__main__.py
    myokit/lib/common.py
    myokit/formats/heka/*

[report]
exclude_lines =
    pragma: no cover
    pragma: no linux cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    pass
    except ImportError:
    if False:
    if __name__ == .__main__.:
    if myokit.DEBUG_SG:
    if myokit.DEBUG_WG:
    if myokit.DEBUG_SC:
    if myokit.DEBUG_SM:
    if myokit.DEBUG_SP:
