[run]
source = myokit
omit =
    myokit/gui/*
    myokit/tests/*
    myokit/__main__.py
    myokit/_exec_old.py
    myokit/lib/common.py
    myokit/_sim/fiber_tissue.py

[report]
exclude_lines =
    pragma: no cover
    pragma: no linux cover
    pragma: no python 3 cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    pass
    except ImportError:
    if False:
    if __name__ == .__main__.:
    if myokit.DEBUG:
