[run]
source = myokit
omit =
    myokit/gui/*
    myokit/_sim/opencl.py
    myokit/_sim/openclsim.py
    myokit/_sim/fiber_tissue.py
    myokit/_command.py
    myokit/__main__.py
    myokit/lib/common.py
    myokit/lib/fit.py

[report]
exclude_lines =
    pragma: no cover
    pragma: no linux cover
    pragma: no python 2 cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    except ImportError:
    if False:
    if __name__ == .__main__.:
    if myokit.DEBUG:
