[flake8]
filename=
    *.py,
    test
exclude=
    dev,
    .git,
    .github,
    myokit.egg-info,
    myokit/formats/python/template,
    build,
    venv,
    venv2,
ignore=
    # Block comment should start with '# '
    # Not if it's a commented out line
    E265,

    # "Do not compare types"
    # Usually fine yeah, but lots and lots of exceptions
    E721,

    # "Do not assign a labmda expression, use a def".
    # T'is a silly rule.
    E731,

    # Ambiguous variable names
    # It's absolutely fine to have i and I
    E741,

    # List comprehension redefines variable
    # Re-using throw-away variables like `i`, `x`, etc. is a Good Idea
    F812,

    # Undefined name
    # Good rule, but the check doesn't support dynamically created variables
    F821,

    # Blank line at end of file
    # These can increase readability (in many editors)
    W391,

    # Binary operator on new line
    # This is now advised in pep8
    W503,

    # Line break after binary operator
    W504,

    # Invalid escape sequence
    # This is fine.
    W605,

    # Local variable assigned to but never used
    # Good rule, but getting a false positive with flake 3.6.0
    F841,

