name: Style
on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    branches:
      - '**'

jobs:

  build-and-test:
    name: style
    runs-on: ubuntu-latest
    if: github.event.pull_request.draft == false

    steps:
      - uses: actions/checkout@v3

      - name: Configure Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
          cache: 'pip'
          cache-dependency-path: setup.py

      - name: Install flake8
        run: |
          python --version
          python -m pip install --upgrade pip setuptools wheel
          python -m pip install flake8

      - name: Run style checking
        run: |
          python -m flake8 --version
          python -m flake8
