name: Windows Miniconda test
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '**'

jobs:

  build-and-test:
    name: unit
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v1

      - name: Activate conda
        run: |
          C:\Miniconda\condabin\activate

      - name: Install Myokit
        run: |
          C:\Miniconda\python.exe --version
          C:\Miniconda\python.exe -m pip install --upgrade pip setuptools wheel
          C:\Miniconda\python.exe -m pip install .[optional]

      - name: Run unit tests
        run: |
          C:\Miniconda\python.exe -m myokit system
          C:\Miniconda\python.exe -m myokit test unit

