name: Windows unit tests
on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    branches:
      - '**'

jobs:

  build-and-test:
    name: unit-win
    runs-on: windows-latest
    if: github.event.pull_request.draft == false
    strategy:
      matrix:
        # Selected python versions only
        python-version: ['3.7', '3.11']

    steps:
      - uses: actions/checkout@v3

      - name: Configure Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'
          cache-dependency-path: setup.py

      - name: Install Myokit
        run: |
          python --version
          python -m pip install --upgrade pip setuptools wheel
          python -m pip install .[optional]
          python .github/workflows/select-opencl-device.py

      - name: Show Myokit info
        run: |
          python -m myokit system
          python -m myokit opencl

      - name: Run unit tests
        run: |
          python -m myokit test unit

